<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body">
      <form novalidate
            (ngSubmit)="savevideogame()"
            [formGroup]="videogameForm">
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="videogameNameId">Nombre del videojuego:</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="videogameNameId"
                   type="text"
                   placeholder="Nombre"
                   formControlName="title"
                   name="title" />
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="ratingId">Puntuación (1-5):</label>
  
          <div class="col-md-8">
            <input class="form-control"
                   id="ratingId"
                   type="text"
                   placeholder="Puntuación (1-5)"
                   formControlName="rating"
                   name="rating" />
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="shortdescriptionId">Descripción corta</label>
  
          <div class="col-md-8">
            <textarea class="form-control"
                      id="shortdescriptionId"
                      placeholder="Descripción corta"
                      rows=3
                      formControlName="shortDescription"
                      name="shortDescription"></textarea>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="descriptionId">Descripción:</label>
  
          <div class="col-md-8">
            <textarea class="form-control"
                      id="descriptionId"
                      placeholder="Descripción"
                      rows=3
                      formControlName="description"
                      name="description"></textarea>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="priceId">Precio:</label>
  
          <div class="col-md-8">
            <input class="form-control"
                      id="priceId"
                      placeholder="Precio"
                      formControlName="price"
                      name="price" />
          </div>
        </div>
  
      <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="imageId">Imagen:</label>
  
          <div class="col-md-8">
            <input class="form-control"
                      id="imageId"
                      placeholder="Imagen"
                      formControlName="image"
                      name="image" />
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            
            <button class="btn btn-primary mr-3"                    
                    type="submit">
              Guardar
            </button>
            <button class="btn btn-outline-secondary mr-3"                    
                    type="button"
                    title="Cancel your edits"
                    [routerLink]="['']">
              Cancelar
            </button>
            
            <button class="btn btn-outline-warning"                  
                    type="button"
                    title="Delete this videogame"
                    (click)="deletevideogame()">
                   
              Borrar
            </button>
          </div>
        </div>
      </form>
    </div>
  
    <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>